.gridss{
  display: grid;
  row-gap: 25px;
  grid-template-columns: repeat(3, 1fr);
  margin: 50px auto 0;
  gap: 15px;
  max-width: 1250px;
  padding: 20px;
}
.Card1{
  max-width: 100% !important;
  height: 550px !important;
  overflow: hidden;
  margin: 15px auto;
  padding: 20px;
  border-radius: 20px !important;
  box-shadow: rgb(181, 172, 118) 0 0 10px !important;
}
@media (max-width: 1203px) {
.gridss{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

}

@media (max-width: 799px){
.gridss{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

}

@media (max-width: 727px)  {

.gridss{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

}


