.single-book {
  max-width: 1250px;
  margin: auto;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.single-book2 {
  max-width: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 4px solid rgb(174, 152, 109);
  border-bottom: 4px solid rgb(174, 152, 109);
  border-radius: 8px;
  box-shadow: rgb(203, 194, 123) 0 0 20px;
  gap: 20px;
}

.single-content {
  width: 100%;
  border-radius: 10px;
  /* padding: 10px; */
  background-color: #f5f4f2;
  display: flex;
  flex-direction: column;
 
}
.carousel {
  width: 100%;
  max-width: 400px; 
  margin: 0 auto 0;
  border-radius: 10px;
  /* background: linear-gradient(to top,rgb(244, 240, 224),rgb(249, 218, 174)); */
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.single-details{
  padding: 20px;
}
.single-details h1{
  font-family: cursive;
  color: rgb(102, 84, 36);
  text-transform: capitalize;
}

.single-content .buybtn Button{
  width: 100%;
}
.imagesdiv{
  display: flex;
  gap: 20px;
    background: linear-gradient(to top,rgb(244, 240, 224), rgba(249, 218, 174, 1) 3cm, rgb(249, 218, 174));


}
.imgs {
 width: 100%;
  height: 100%;
  object-fit: contain ; 
  border-radius: 10px;
  background-color: #f5f5f5; 
  display: block;

}
/* *--------------------------------- */

.add-rating{
  max-width: fit-content;
  padding: 10px;
  margin-top: 20px;
  border-left:rgb(188, 159, 43) solid 2px;
  border-right:rgb(165, 136, 19) solid 2px;
  border-radius: 20px;
}

/* ------------------------- */

@media (max-width: 1401px) {
    
}

@media (max-width: 1201px) {
    
}

@media (max-width: 993px) {

}

@media (max-width: 769px){

}

@media (max-width: 587px)  {

}

@media (max-width: 576px) {
    
}